repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=1000"]

  - repo: https://github.com/prettier/pre-commit
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [javascript, typescript, jsx, tsx, astro, json, css, markdown]
        additional_dependencies:
          - prettier-plugin-astro@0.13.0
