---
import ScrollReveal from "../../common/react/ScrollReveal";
import SectionTitle from "../../common/astro/SectionTitle.astro";
import GalleryLightbox from "../react/GalleryLightbox";
import { siteContent } from "../../../content/siteContent";

const { gallery } = siteContent;
---

<section id="gallery" class="py-12 md:py-20 bg-warm-50">
  <div class="max-w-6xl mx-auto px-4">
    <SectionTitle title="写真" subtitle={gallery.description} />

    <ScrollReveal client:load>
      <GalleryLightbox client:load images={gallery.images} />
    </ScrollReveal>
  </div>
</section>
